# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# Database
database/phishguard.db

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
